.none {
    display: none;
}



/* body {
	margin: 0;
	padding: 20px;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #e5e5e5;
} */

.sliders {
	position: relative;
	width: 50%;
	width: 26vw;
	/* max-width: 500px; */
}

.slider {
	position: relative;
	z-index: 0;
	height: 10px;
}
.slider > .track {
	position: absolute;
	z-index: 0;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	border-radius: 5px;
	background-color: #c6aee7;
}
.slider > .range {
	position: absolute;
	z-index: 0;
	left: 25%;
	right: 25%;
	top: 0;
	bottom: 0;
	border-radius: 5px;
	background-color: #6200ee;
}
.slider > .thumb {
	position: absolute;
	z-index: 0;
	width: 30px;
	height: 30px;
	background-color: #6200ee;
	border-radius: 50%;
	box-shadow: 0 0 0 0 rgba(98,0,238,.1);
	transition: box-shadow .3s ease-in-out;
}
.slider > .thumb.left {
	left: 25%;
	transform: translate(-15px, -10px);
}
.slider > .thumb.right {
	right: 25%;
	transform: translate(15px, -10px);
}
.slider > .thumb.hover {
	box-shadow: 0 0 0 20px rgba(98,0,238,.1);
}
.slider > .thumb.active {
	box-shadow: 0 0 0 40px rgba(98,0,238,.2);
}

#input-left, #input-right {
	position: absolute;
	/* pointer-events: none; не дает перемещаться thumb при нажатии на track. Элемент не может быть целью (target) cобытий мыши; тем не менее, целью событий мыши могут быть его потомки */
	/* -webkit-appearance: none; */
	/* z-index: 2; */
	/* height: 10px; */
	opacity: 0;
}
#input-left {
	position: absolute;
	top: -5px;
	left: 0;
	/* width: 500px; */
	width: 26vw;
	z-index: 2;
}
#input-right {
	position: absolute;
	top: -5px;
	left: 0;
	/* width: 500px; */
	width: 26vw;
	z-index: 1;
}
input[type=range]::-webkit-slider-thumb {
	pointer-events: all;
	width: 30px;
	height: 30px;
	border-radius: 0;
	border: 0 none;
	background-color: red;
	-webkit-appearance: none;
}

/*BUBBLES MULTI*/
.bubble-multi-left, .bubble-multi-right {
    position: absolute;
	width: 25px;
	height: 20px;
    border-radius: 5px;
	background-color: #9452f2;
	left: 242px;
	bottom: 29px;
    box-shadow: 0 0 4px #000;
    text-align: center;
    font-size: 14px;
    padding-top: 1px;
}
.bubble-multi-left:after, .bubble-multi-right:after {
    content: "";
    background-color: #9452f2;
	position: absolute;
	left: 6px;
	top: 14px;
    z-index: -1;
    width: 10px;
    height: 10px;
    box-shadow: 0 0 4px #000;
    transform: rotate(225deg);
}
.value-multi-left-span {
    position: absolute;
    left: 5px;
    top: 3px;
    color: aliceblue;
}
.value-multi-right-span {
    position: absolute;
    left: 5px;
    top: 3px;
    color: aliceblue;
}

/*SINGLE-RANGE*/
.slider-single {
	width: 26vw;
	height: 10px;
	position: relative;
	display: none;
	margin-top: -4px;
	margin-left: -3px;
}
.single-range {
	width: 26vw;
	-webkit-appearance: none;
	outline: none;
	background-color: transparent;;
	position: absolute;
}
.single-range::-webkit-slider-runnable-track {
	background-color: #c6aee7;
	border-radius: 5px;
	height: 10px;
	position: static;
	z-index: -2;
}
.single-range::-webkit-slider-thumb {
	width: 30px;
	height: 30px;
	background-color: #6200ee;
	border-radius: 50%;
	box-shadow: 0 0 0 0 rgba(98,0,238,.1);
	margin-top: -10px;
}
.progress-bar {
	width: 1px;
	height: 10px;
	background-color: #6200ee;
	position: absolute;
	left: 2.5px;
	top: 2px;
	border-radius: 5px;
	z-index: -1;
}
/*BUBBLES SINGLE*/
.bubble-single {
	position: absolute;
	width: 25px;
	height: 20px;
    border-radius: 5px;
	background-color: #9452f2;
	left: 242px;
	bottom: 29px;
    box-shadow: 0 0 4px #000;
    text-align: center;
    font-size: 14px;
    padding-top: 1px;
}
.bubble-single:after {
    content: "";
    background-color: #9452f2;
	position: absolute;
	left: 6px;
	top: 14px;
    z-index: -1;
    width: 10px;
    height: 10px;
    box-shadow: 0 0 4px #000;
    transform: rotate(225deg);
}
.value-single-span {
    position: absolute;
    left: 5px;
    top: 3px;
    color: aliceblue;
}

/*ДИАПАЗОН-ШКАЛА*/
.scale, .multi-scale {
    position: relative;
    top: 20px;
    height: 20px;
    width: 26vw;
}
.scale span, .multi-scale span {
    position: absolute;
}
.scale ins, .multi-scale ins {
    text-decoration: none;
}